body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}
.start-page-animation {
  background: repeating-linear-gradient(
    #0d122b,
    #0d122b 2px,
    #565b73 2px,
    #565b73 4px
  );
}
#start-page {
  /* background: repeating-linear-gradient(
    #0d122b,
    #0d122b 2px,
    #565b73 2px,
    #565b73 4px
  ); */
  animation: bgColorSpin 0.3s infinite;
  animation-iteration-count: 5;
}
#character-page {
  background: linear-gradient(
    0deg,
    rgba(253, 244, 45, 1) 32%,
    rgba(34, 110, 195, 1) 67%
  );
}
.start-page-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
}
#start-page,
#character-page {
  height: 100vh;
}
.main-title {
  text-align: center;
  font-family: "Permanent Marker", cursive;
  font-weight: 800;
  font-size: 60px;
  animation: titleAnimation 1s ease-in-out, colorSpin 5s infinite;
}
.start-btn {
  font-family: "Permanent Marker", cursive !important;
  background: none !important;
  border: none !important;
  outline: 0 !important;
  box-shadow: none !important;
  animation: titleColorSpin 0.6s infinite;
  letter-spacing: 1em !important;
}
@keyframes titleAnimation {
  from {
    font-size: 10px;
    transform: rotateX(360deg);
  }
  to {
    font-size: 60px;
  }
}
@keyframes colorSpin {
  0% {
    color: rgba(34, 110, 195, 1);
  }
  100% {
    color: rgb(253, 244, 45);
  }
}
@keyframes titleColorSpin {
  0% {
    color: black;
  }
  100% {
    color: white;
  }
}
@keyframes bgColorSpin {
  0% {
    background-color: black;
  }
  100% {
    background-color: white;
  }
}
.title-text {
  text-align: center;
  text-transform: uppercase;
  font-family: "Permanent Marker", cursive !important;
  animation: titleColorSpin 0.3s infinite;
  position: absolute;
}
.character-page-content {
  height: 100%;
}
.character-container {
  text-align: center;
  width: 800px;
}
.character {
  margin: 10px;
  width: 260px;
  height: 260px;
  background-color: blue;
  display: inline-block;
  padding: 10px;
}
.character-button {
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
  outline: 0 !important;
  border: none !important;
}
.character:hover {
  background-color: rgba(185, 105, 29, 0.979);
}
.character-image {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: 100%;
}
.character-name-box {
  text-align: center;
  text-transform: uppercase;
  font-family: "Permanent Marker", cursive !important;
  color: rgba(185, 105, 29, 0.979);
  height: 1em;
}
#stage-page {
  /* background-image: url(images/Battleharbor.jpg); */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
progress {
  width: 100%;
  height: 50px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #ff0062;
}
progress[value]::-webkit-progress-value {
  background-color: rgb(221, 221, 29);
  transition: all 0.2s ease-out;
}
progress[value]::-webkit-progress-bar,
progress[value] {
  background-color: red;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
.main-div {
  background-color: #fff685;
  padding: 22px;
  text-align: center;
  display: block;
  margin: 0 auto;
  border-radius: 5%;
}
.cpu-main-div {
  background-color: red;
  padding: 22px;
  text-align: center;
  display: block;
  margin: 0 auto;
  border-radius: 5%;
}
.battle-img {
  border-radius: 50%;
}
.battle-name {
  text-transform: uppercase;
  font-family: "Permanent Marker", cursive !important;
}
.battle-buttons {
  background-color: #0049B7 !important;
  color: #ffffff !important;
  letter-spacing: .3em;
  margin: 3px !important;
  font-family: "Permanent Marker", cursive !important;
}

@media screen and (orientation:portrait) {
  .battle-buttons{
    letter-spacing: 0 !important;
  }
}
.pause-text{
  text-align: center !important;
}
.centered{
  text-align: center;
}
.pause-btn{
  font-family: "Permanent Marker", cursive !important;
  letter-spacing: .3em;
}
